/* Reset some default styles for better consistency */
body,
h1,
p {
    margin: 0;
    padding: 0;
}

/* Style the header and navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color:aliceblue;
    margin-top: -3%;
    transition: .4s ease;
}
ul li a:hover{
    color: rgb(230,104,59);
}
nav ul li.active {
    font-weight: bold;
}

/* Style the main content */
 .container {
    max-width:auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    /* border: 2px solid red;  */
    align-items: center;
    box-sizing: border-box;

}
.info{
    /* border: 2px solid black; */
    font-size: 20px;
    width: 70%;
    height: 200px;
}
.image img{
    border: 2px solid rgb(230,104,59);
    border-radius: 50%;
    width:200px;
    height: 200px;
}
.about {
    background-color: #f9f9f9;
    text-align: center;
    padding: 40px 0;
}

.about h1 {
    font-size: 36px;
}

.about .subtitle {
    color: #777;
    font-size: 18px;
    margin-top: 10px;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}